
<div class="page-header">
  <h1>Login <small> </small></h1>
</div>

<% if(status !=undefined && status != ''){ %>
<div class="alert alert alert-danger alert-dismissable" >
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

<% if (status == 404) { %>
<%= (JSON.parse(responseText)).message %>

<%} else { %>

<%= statusText %>
<% } %>


</div>
<% } %>

<form class="form-horizontal loginForm" role="form" >
  <div class="form-group">
    <label for="email" class="col-md-2 control-label">Email</label>
    <div class="col-md-8">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-md-2 control-label">Password</label>
    <div class="col-md-8">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
  </div>
  
   <div class="form-group">
    <div class="col-md-offset-2 col-md-8">
      <button type="submit" class="btn btn-info">Sign in</button>
    </div>
  </div>
  
  
 </form>
 
    <hr class="featurette-divider">
  