<a name="studentRegistration"></a>

<div class="page-header">
  <h1>Registration <small> Student Registration</small></h1>
</div>


<form class="form-horizontal jsRegistrationForm" role="form" >
<!--
  <div class="form-group">
    <label for="firstName" class="col-md-2 control-label">First Name</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your First Name">
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" class="col-md-2 control-label">Last Name</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Surname">
    </div>
  </div>
  
    <div class="form-group">
    <label for="email" class="col-md-2 control-label">Email</label>
    <div class="col-md-4">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
    </div>
  </div>
  
  -->
  
    <div class="form-group">
    <label for="collegeCode" class="col-md-2 control-label">College Code</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="collegeCode" name="collegeCode" placeholder="College Code">
    </div>
  </div>
  
    <div class="form-group">
    <label for="mobileNum" class="col-md-2 control-label">Mobile Number</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="mobileNum" name="mobileNum" placeholder="Mobile Number">
    </div>
  </div>
  
    <div class="form-group">
    <label for="address" class="col-md-2 control-label">Address</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="address" name="address" placeholder="Address">
    </div>
  </div>
  
   <div class="form-group">
    <label for="eduBackground" class="col-md-2 control-label">Educational Background</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="eduBackground" name="eduBackground" placeholder="Educational Background">
    </div>
  </div>
  
     <div class="form-group">
    <label for="photo" class="col-md-2 control-label">Photo</label>
    <div class="col-md-4">
      <input type="file"  id="photo" name="photo"  placeholder="Photo">
    </div>
  </div>
  
    
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-info">Register</button>
       <button type="button" class="btn btn-default cancel">Not Now</button>
    </div>
  </div>
</form>

      <hr class="featurette-divider">